.coin-link {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.coin-link-header {
    display: flex;
    justify-content: space-between;
}

.link-header-box {
    background-color: rgb(18 18 18);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    padding: 15px 20px;
    a {
        color: #69a235;
        margin-bottom: 10px;
        text-decoration: none;
        .box-img {
            width: 20px;
            height: 20px;
            transform: translateY(5px);
        }
        
        p {
            color: var(--text-blur);
            font-size: 1.2rem;
            margin: 10px 0;
        }
    }
}

.coin-link-container {
    margin-top: 20px;
}

.link-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap:wrap;

    .link-title{
        color: var(--text-blur);
        width: 94px;
        font-size: 1.4rem;
    }
}