.container {
    border: none;
    align-items: center;
    height: 70px;
    td {
        color:  rgb(180, 180, 180);
        text-align: center;
        align-items: center;
        border-collapse: unset;
        border-bottom: 1px solid rgb(58, 58, 58);
    }

    .pricechangeRed {
        color: rgb(238, 88, 88);
    }

    .pricechangeGreen {
        color: rgb(69, 212, 69);
    }
       
}
.crypto-name {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    height: 70.5px;
    img {
        width: 30px;
        height: 30px;
    }
    .link-name-crypto {
        &:hover {
            color: var(--primary-color);
        }
        text-decoration: none;
        font-weight: 700; 
        margin-left: 10px;
        color: #fff;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: left;
    }
}

.symbol {
    .link-name-crypto {
        text-decoration: none;
        font-weight: 700;
        font-size: 1.4rem;
        color:  rgb(180, 180, 180);
        &:hover {
            color: var(--primary-color);
        }
    }
}

.hold {
    color: #fff;
}