.container {
    border: none;
    align-items: center;
    height: 70px;
    td {
        color:  rgb(180, 180, 180);
        text-align: center;
        align-items: center;
        border-collapse: unset;
        border-bottom: 1px solid rgb(58, 58, 58);
    }

    .changeRed {
        color: var(--price-down)
    }

    .changeGreen {
        color: var(--price-up)
    }
       
}
.crypto-name {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70.5px;
    img {
        width: 30px;
        height: 30px;
    }
    .link-name-crypto {
        &:hover {
            color: var(--primary-color);
        }
        text-decoration: none;
        font-weight: 700; 
        margin-left: 10px;
        color: #fff;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: left;
    }
}

.symbol {
    .link-name-crypto {
        text-decoration: none;
        font-weight: 700;
        font-size: 1.4rem;
        color:  rgb(180, 180, 180);
        &:hover {
            color: var(--primary-color);
        }
    }
}

.hold {
    color: #fff;
    position: relative;
    .hide {
        display: none;
    }
}

.edit {
    position: absolute;
    top: 34%;
    right: 25px;

    .edit-icon {
        color: #fcd535;
        cursor: pointer;
        &:hover {
            font-size: 2.2rem;
        }
    }
}

.PNL .delete {
    cursor: pointer;
    color: #ccc;

    .delete-icon:hover {
        color: var(--primary-color);
        font-size: 1.8rem;
    } 
}

.box-delete {
    background-color: rgba(109, 108, 108,0.9);
    border-radius: 5px;
    padding: 10px 6px;

    .delete-title {
        color: var(--primary-color);
        margin-bottom: 5px;
    }
    button {
        cursor: pointer;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 1.4rem;
        font-weight: 500;
        background-image: var(--background-search);
        border: none;

        &:hover {
            color: var(--primary-color);
        }
        
    }
}

.box-quantity {
    width: 120px;
    padding: 2px 8px;
    color: #fff;
    position: absolute;
    z-index: 10;
    top: -12px;
    right: 0;
    background-color: rgb(71, 71, 71);
    border-radius: 3px;
    input { 
        margin-top: 5px;
        display: block;
        width: 100%;
        border-radius: 2px;
        height: 25px;
        border: none;
        outline: none;  
    }
}