
@keyframes fadeIn {
    from {
        right: -5vw;
        opacity: 0;
    }

    to {
        right: 10vw;
        opacity: 1;
    }

}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.container-toast-message {
    position: absolute;
    top: 20vh;
    right: 10vw;
    display: flex;
    height: 70px;
    border-radius: 5px;
    background-color: rgb(3, 149, 168);
    align-items: center;
    animation: fadeIn ease-in 0.8s forwards, fadeOut linear 1s 3s forwards;
    transition: 1;
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .toast-icon {
            font-size: 3rem;
            color: var(--primary-color);
            padding: 10px;
        }

        .toast-title {
            padding: 10px;
            font-size: 1.4  rem;
            color: var(--primary-color);
            font-weight: 500;
        }
    }
}