.convert-price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--backgroung-color1);
}

.convert-container {
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
    
    .price {
        display: flex;
        border-radius: 10px;
        align-items: center;
        width: 350px;
        background-color: #393939;
        margin: 0 auto;
        span {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 700;
            height: 50px;
            border-right: 1px solid rgb(102, 102, 102);
            padding: 0 30px;

        }
        input {
            padding-left: 10px;
            color: #fff;
            height: 40px;
            font-size: 1.6rem;
            font-weight: 700;
            background-color: #393939;
            border: none;
            outline: none;
            width: 200px;
            padding-right: -10px;
        }
    }
}